* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom right, #FF6B6B, #6B66FF);
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.users-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to bottom right, #FFB86B, #8D66FF);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.users-form form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.users-form form input[type=text]:focus,
.users-form form input[type=password]:focus,
.users-form form input[type=password]:focus {
    border-color: #FF6B6B;
}

.users-form form input[type=submit] {
    border: none;
    padding: 12px;
    text-decoration: none;
    transition: background-color 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background: #57B894;
    color: #fff;
}

.users-form form input[type=submit]:hover {
    background: #3F8D5B;
}

.users-table table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
}

table tr {
    background-color: #f3a8e0;
    border: 1px solid #000000;
    padding: 12px;
    transition: background-color 0.3s;
}

table tr:hover {
    background-color: #f0f0f0;
}

table th, table td {
    padding: 12px;
    text-align: center;
    font-size: .85em;
}

.users-table--edit,
.users-table--delete {
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.users-table--edit {
    background: #FFD166;
    color: #ffffff;
}

.users-table--delete {
    background: #EF476F;
    color: #fff;
}
